<div class="center">
  <a href="/projects/{{project.alias}}" style="text-decoration:none;"> &larr; Go Back</a>
</div>
<iframe src="/demo/{{project.alias}}/index.html" width="100%" height="100%" style="border:none;"></iframe>