<div id="wallpaper" class="wallpaper"></div>
    <div class="content">
        <aside class="side">
            <figure id="picture" class="picture">
                <div class="picture-shadow"></div>
                <!-- Change the file names of your images -->
                <img id="pictureImage" class="picture-image"
                    src="/images/manohar.jpg"
                    srcset="/images/manohar.jpg 1x,
                            /images/manohar@2x.jpg 2x,
                            /images/manohar@3x.jpg 3x"
                    alt="Portrait of Manohar Negi"
                    width="320"
                    height="320">
            </figure>
        </aside>
        <main class="about">
            <h1 class="name">
                <!-- Change your name here -->
                Hi, I'm Manohar Negi
            </h1>
            <p class="job">
                <!-- Change your title here -->
                Entrepreneur
            </p>
            <hr class="hr">
            <div class="description">
                <p>
                <!-- describe yourself here -->
                I spend my time traveling the world,
                helping startups and tech businesses
                hire the best people.
                </p> 
            </div>
            <div class="contact">
                <a class="button" href="/projects">
                Explore More
                </a>
            </div>
            <ul class="social">
                <li>
                    <!-- your twitter profile url -->
                    <a href="https://twitter.com/@manoharsn">
                        <i class="fab fa-twitter"></i>
                    </a> 
                </li>
                <li> 
                    <!-- your facebook profile url -->
                    <a href="https://www.facebook.com/manohar.negi.71">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li> 
                <li>
                    <!-- your linkedin profile url -->
                    <a href="https://www.linkedin.com/in/manoharnegi/">
                        <i class="fab fa-linkedin"></i>
                    </a> 
                </li>
                <li>
                    <!-- your personal website url -->
                    <a href="https://manoharnegi.com">
                        <i class="fab fa-globe"></i>
                    </a> 
                </li>
            </ul>
        </main>
    </div>