<head>
<meta charset="utf-8">
<title>Bouncing balls</title>
<link href="/projects/{{pName}}/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
<p>
    <a href="/projects/{{pName}}" style="text-decoration:none;"> &larr; Go Back</a>
</p>
</div>

<canvas></canvas>

<script src="/projects/{{pName}}/js/main.js"></script>
</body>